.contact-container{
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact-section{
    margin-top: 50px;
    background-color: #80808028;
}
.contact-section h2{
    padding-top: 20px;
    margin-bottom: 40px;
    padding-top: 55px;
    color:#138781;
}
.contact-section img{
    height:280px;
}
.contact-form form{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border: 1px solid #00000038;
    box-shadow: 12px 12px 5px #0000001d;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -45px;
    margin-top: 10px;
}
input{
    width:80%;
    margin-bottom: 10px;
    border: 1px solid #00000038;
}
textarea{
width: 80%;
height: 100px;
margin-bottom: 20px;
}
.contact-form ul{
    display: flex;
}
ul li{
    list-style: none;
}
.contact-form img{
    height: 25px;
    margin-left: 10px;
}
form span{
    color: #138781;
    font-size: 18px;
    font-weight: 600;
}
button{
    padding: 4px 25px;
    border-radius: 12px;
    background-color: #f29f67;;
}
.contact-or{
    margin-top: 20px;
    display: flex;
    font-weight: 500;
}
hr{
    height: 20px;
    width: 150px;
   color: black;
}

/* Media Query for contact */
@media(width<768px){
    .contact-container{
        padding-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    } 
    .contact-container .img img{
       height: 230px;
       margin-top: -27px;
    }
    .contact-form form{
        padding:5px 4px;
        margin-top: 28px;
        height: 380px;
        width: 380px;
        box-shadow: 8px 8px 5px #0000001d;
    }
}